<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SHS_Automated_Voting_System.Properties.Settings.SHS_Automated_Voting_SystemConnectionString"
            connectionString="Data Source=PSYCHO\SQLEXPRESS;Initial Catalog=&quot;SHS Automated Voting System&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>